#Source folder
users.txt

#Program
Program/*.txt
Program/*.bin
Program/*.key
Program/copy.c
Program/Exe

# Test
Test/

# VS Code
.vscode/
*.code-workspac
*.exe

#ignoring BIN
bin/
build/

#CMake files and others
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json